html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
}
.full-height {
	height: 100%;
}
.body-height {
    height: calc(100vh - 220px);
}

.container,
.content-wrapper {
	height: 100%;
	font-size: 12pt;
}
tbody {
	font-size: 10pt;
}
input, optgroup, select, textarea {
}

.number {
	text-align: right;
}
.fontsize-12pt {
	font-size: 12pt;
}
th {
	text-align:center !important;
}
.over {
	background-color:#4cd964;
    //background-color: gray;
}
